body {
  background-color: #DDDDDD;
}

.header {
	margin-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.footer {
	margin-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}

.image {
	height: 250px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #DDDDDD; 
}

.white {
	background-color: white;
}